# Core functionality - changes here should be rare!
/src/app.py                   @Sehansel
/src/backend/database.py      @Sehansel
/src/backend/routers/auth.py  @Sehansel

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sehansel
